@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drop-area,
  #drop-canvas,
  #field-drop-canvas {
    @apply flex flex-col min-h-[500px] overflow-hidden;
  }

  .drop-placeholder {
    @apply flex-1 my-4 border-2 border-dashed border-[#0e0e0e] !bg-[#e0f2fe] 
  z-[5] min-h-[50px] opacity-100 !transition-none !animate-none;
  }

  .drop-placeholder-dark {
    @apply flex-1 my-4 border-2 border-dashed border-gray-900 !bg-gray-950 
  z-[5] min-h-[50px] opacity-100 !transition-none !animate-none;
  }

  .sortable-fallback.dragging {
    @apply !opacity-100 !bg-red-600;
  }

  .drop-placeholder *,
  .drop-placeholder-dark * {
    @apply !invisible !hidden;
  }

  body .ub.sortable-fallback.dragging {
    @apply bg-white   shadow-md rounded-md list-none !opacity-100 flex items-center  py-[9px]  px-2 gap-2 my-0;
  }

  body .ub.sortable-fallback.dragging.dark {
    @apply !bg-neutral-900 text-gray-400;
  }

  body .ub.sortable-fallback.drop-dragging {
    @apply !bg-white !h-auto !opacity-100 rounded-md;
  }

  body .ub.sortable-fallback.drop-dragging.dark {
    @apply !bg-neutral-900;
  }
}
body .ub.sortable-fallback.dragging {
  border: 1px solid rgb(177, 177, 177) !important;
}

body .ub.sortable-fallback.dragging.dark {
  border: 1px solid rgb(46, 46, 46) !important;
}

body .ub.sortable-fallback.drop-dragging {
  border: 1px solid rgb(177, 177, 177) !important;
}

body .ub.sortable-fallback.drop-dragging.dark {
  border: 1px solid rgb(66, 66, 66) !important;
}
